<p>
  <a href="#" class="pull-right">Show done</a>
</p>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <th></th>
    <th class="text-center">Title</th>
    <th class="text-center">Action</th>
  </thead>
  <tbody>
    <% todos.each do |todo| %>
    <tr>
      <td class="text-center">
        <input type="checkbox" name="<%= todo.id %>">
      </td>
      <td>
        <a href="/todos/<%= todo.id %>/edit"><%= todo.title%></a><br><small><%= todo.description %></small>
      <td class="text-center">
        <form action="/todos/<%= todo.id %>" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <button name="btn_delete" type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<script src="/js/application.js"> </script>
